@model ISpan.InseparableCore.Models.DAL.TMovies

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>TMovies</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FMovieName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FMovieName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FMovieIntroduction)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FMovieIntroduction)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FMovieOnDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FMovieOnDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FMovieOffDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FMovieOffDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FMovieLength)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FMovieLength)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FMovieImagePath)
        </dt>
        <dd class = "col-sm-10">
			<img src="~/images/@Model.FMovieImagePath" width="150">
		</dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FMovieScore)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FMovieScore)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FMovieLevel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FMovieLevel.FLevelName)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="FMovieId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
