@model ISpan.InseparableCore.ViewModels.MovieVm

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TMovies</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FMovieName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FMovieName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FMovieIntroduction)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FMovieIntroduction)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OnDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OnDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OffDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OffDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FMovieLength)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FMovieLength)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FMovieScore)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FMovieScore)
			<div class="form-group">
				<select name="FScore" class="form-control" asp-items="ViewBag.FScore"></select>
				<select name="FMemberId" class="form-control" asp-items="ViewBag.FMemberId"></select>
@*				<span asp-validation-for="FMovieScore" class="text-danger"></span>
*@			</div>
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Level)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Level)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Categories)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Categories)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FMovieActors)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FMovieActors)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FMovieDirectors)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FMovieDirectors)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.FMovieId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
