@model ISpan.InseparableCore.ViewModels.MovieVm

<style>
	.btnEditComment{

	}
	.chosen {
	}

	.btnScore {
	}

	.divContainer {
		display: flex;
		flex-direction: row;
		padding: 5px;
	}

	.divBorder {
		border-color: white;
		border-width: 3px;
		border-style: solid;
	}

	.divBlock {
		margin: 20px
	}

	.inDivPosition {
		position: relative;
		bottom: 0px;
		right: -20px;
	}
</style>

<div style="margin-top:20px">
	<h1>
		@Html.DisplayFor(model => model.FMovieName)
	</h1>

	<div class="divContainer divBorder">
		<hr />
		<div class="divContainer ">
			<div style="margin:0 20px 0 0">
				<p>
					<img src="~/images/@Model.FMovieImagePath" width="400">
				</p>
			</div>

			<div>
				<p>
					@Html.DisplayNameFor(model => model.OnDate) : @Model.OnDate
				</p>
				<p>
					@Html.DisplayNameFor(model => model.OffDate) : @Model.OffDate
				</p>
				<p>
					@Html.DisplayNameFor(model => model.FMovieLength) : @Model.FMovieLength 分
				</p>
				<p>
					<div class="divContainer">
						<div style="font-size:larger">
							@Html.DisplayNameFor(model => model.FMovieScore) : 
						</div>
						<div id="AverageScore" style="font-size:larger">
							@Model.FMovieScore
						</div>
						<div class="btn-toolbar inDivPosition" role="toolbar" aria-label="Toolbar with button groups">
							<div class="btn-group me-2" role="group" aria-label="First group">
								<button type="button" class="btn btn-secondary btnScore" value="1">1</button>
								<button type="button" class="btn btn-secondary btnScore" value="2">2</button>
								<button type="button" class="btn btn-secondary btnScore" value="3">3</button>
								<button type="button" class="btn btn-secondary btnScore" value="4">4</button>
								<button type="button" class="btn btn-secondary btnScore" value="5">5</button>
							</div>
							<button type="button" class="btn btn-secondary" id="Score">評分</button>
						</div>
					</div>
				</p>
				<p>
					@Html.DisplayNameFor(model => model.Categories) : @Model.Categories
				</p>
				<p>
					@Html.DisplayNameFor(model => model.Level) : @Model.Level
				</p>
				<p>
					@Html.DisplayNameFor(model => model.FMovieActors) : @Model.FMovieActors
				</p>
				<p>
					@Html.DisplayNameFor(model => model.FMovieDirectors) : @Model.FMovieDirectors
				</p>
				<p>
					@Html.DisplayNameFor(model => model.FMovieIntroduction) : @Model.FMovieIntroduction
				</p>
			</div>
		</div>
	</div>
</div>
@*存放評論*@
<div id="divComment"></div>

<div class="form-group">
	<select name="FMemberId" class="" id="FMemberId" asp-items="ViewBag.FMemberId"></select>
</div>

<div class="divContainer">
	<div class="input-group">
		<span class="input-group-text">評論</span>
		<textarea class="form-control" id="FComment" aria-label="With textarea"></textarea>
	</div>
	<div>
		<button type="button" id="btnComment" class="btn btn-secondary">留言</button>
	</div>
</div>

<div>
	<a asp-action="Index">返回</a>
</div>
@section Scripts{
	<script>
		//送出評論及展示評論ajax函數
		function CommentDetail(FSerialNumber, FMemberId, FMovieId, FComment) {
			$.ajax({
				method: "post",
				url: "/TMovies/MovieComment",
				data: { FSerialNumber, FMemberId, FMovieId, FComment },
				success: function (data) {
					let context = JSON.parse(data);
					//alert(data)
					let memberId = $("#FMemberId").find(":selected").attr("value")

					$("#divComment").html("")
					$.each(context, function (index, value) {
						if (value.FMemberId == memberId){
						$("#divComment").append(`
							<div class=" divBorder">
								<div style="font-size:large; margin:10px 0 0 10px" id="F${value.FSerialNumber}">
									<div style="margin:5px" >
										${value.MemberName}	 ${value.PostDate}
							<button type="button" class="btn btn-secondary btnEditComment" value="${value.FSerialNumber}">修改</button>
									</div>
									<hr style="margin:0"/>
									<div style="margin:5px" id="commentText">
										${value.FComment}
									</div>
								</div>
							</div>`
						)}
						else{
						$("#divComment").append(`
							<div class=" divBorder">
								<div style="font-size:large; margin:10px 0 0 10px" >
									<div style="margin:5px">
										${value.MemberName}	 ${value.PostDate}
									</div>
									<hr style="margin:0"/>
									<div style="margin:5px">${value.FComment}</div>
								</div>
							</div>`
						)}
						
					})
				},
				error: function (jqXHR, textStatus, errorThrown) {
				},
			})
		}
		//評分ajax
		function ScoreDetail(FMemberId, FMovieId, FScore) {
			$.ajax({
				method: "post",
				url: "/TMovies/MovieScore",
				data: { FMemberId, FMovieId, FScore },
				success: function (data) {
					let context = JSON.parse(data);
					$("#AverageScore").html(context);
				},
				error: function (jqXHR, textStatus, errorThrown) {
				},
			})
		}
		//開始編輯評論，生成編輯textarea
		$(document).on('click', '.btnEditComment', function () {
			let serialNumber = $(this).attr("value")
			let text = $.trim($(`#F${serialNumber} #commentText`).text())
			//alert(serialNumber+text)
			$(`#F${serialNumber}`).html(`
		<div class="divContainer">
			<div class="input-group">
				<span class="input-group-text">評論</span>
				<textarea class="form-control" id="FComment" aria-label="With textarea">${text}</textarea>
			</div>
			<div>
				<button type="button" id="btnComment" class="btn btn-secondary" value="${serialNumber}">留言</button>
			</div>
		</div>
			`)
		});
		//送出評分
		$('#Score').click(function () {
			let score = $('.chosen').attr("value");
			let memberId = $("#FMemberId").find(":selected").attr("value")
			let movieId = @Model.FMovieId
			$(this).html(score);

			ScoreDetail(memberId, movieId, score)
		});

		//單選按鈕組，按下時改變顏色
		$('.btn').click(function () {
			$('.btn-primary').addClass('btn-secondary');
			$('.btn-secondary').removeClass('btn-primary');

			$(this).removeClass('btn-secondary');
			$(this).addClass('btn-primary');
		});
		//確認已選擇的單選按鈕
		$('.btnScore').click(function () {
			$('.btnScore').removeClass('chosen');

			$(this).addClass('chosen');
		});
		//送出評論
		$(document).on('click', '#btnComment', function () {
			let serialNumber = $(this).attr("value")
			let memberId = $("#FMemberId").find(":selected").attr("value")
			let movieId = @Model.FMovieId
			let comment = $("#FComment").val();
			alert(serialNumber)
			CommentDetail(serialNumber, memberId, movieId, comment)
		})
		//展示評論
		CommentDetail(0, 0, @Model.FMovieId, "")
	</script>

}
