@model ISpan.InseparableCore.ViewModels.MovieSearchVm

<style>
	.btnCommentCancel{

	}
	.btnEditComment{

	}
	.chosen {
	}

	.divComment {
		margin: 5px;
		font-size: 20px;
	}
	.btnScore {
	}

	.divContainer {
		display: flex;
		flex-direction: row;
		padding: 5px;
	}

	.divBorder {
		border-color: white;
		border-width: 1px;
		border-style: solid;
		border-radius:9px;
	}

	.divBlock {
		margin: 20px
	}

	.inDivPosition {
		position: relative;
		bottom: 0px;
		right: -20px;
	}
</style>

<div style="margin-top:20px">
	<div class="divContainer">
		<h1 style="width:1200px;">
			@Html.DisplayFor(model => model.FMovieName)
		</h1>
		<button type="button" class="btn btn-info" onclick="backToIndex()">
			返回
		</button>
	</div>

	<div class="divContainer divBorder">
		<hr />
		<div class="divContainer ">
			<div style="margin:0 20px 0 0">
				<p>
					<img src="~/images/@Model.FMovieImagePath" width="400">
				</p>
			</div>

			<div>
				<p>
					@Html.DisplayNameFor(model => model.OnDate) : @Model.OnDate
				</p>
				<p>
					@Html.DisplayNameFor(model => model.OffDate) : @Model.OffDate
				</p>
				<p>
					@Html.DisplayNameFor(model => model.FMovieLength) : @Model.FMovieLength 
				</p>
				<p>
					<div class="divContainer">
						<div style="font-size:larger">
							@Html.DisplayNameFor(model => model.FMovieScore) : 
						</div>
						<div id="AverageScore" style="font-size:larger">
							@Model.FMovieScore
						</div>
						<div class="btn-toolbar inDivPosition" role="toolbar" aria-label="Toolbar with button groups">
							<div class="btn-group me-2" role="group" aria-label="First group">
								@for (int i = 1; i <= 5; i++)
								{
									<button type="button" class="btn btn-secondary btnScore" value="@i" id="@i">@i</button>
								}
							</div>
						</div>
					</div>
				</p>
				<p>
					@Html.DisplayNameFor(model => model.Categories) : @Model.Categories 
				</p>
				<p>
					@Html.DisplayNameFor(model => model.Level) : @Model.Level
				</p>
				<p>
					@Html.DisplayNameFor(model => model.FMovieActors) : @Model.FMovieActors
				</p>
				<p>
					@Html.DisplayNameFor(model => model.FMovieDirectors) : @Model.FMovieDirectors
				</p>
				<p>
					@Html.DisplayNameFor(model => model.FMovieIntroduction) : @Model.FMovieIntroduction
				</p>
			</div>
		</div>
	</div>
</div>
<div class="divContainer">
	<div class="input-group">
		<textarea class="form-control" id="FComment0" aria-label="With textarea"></textarea>
	</div>
	<div>
		<button type="button" id="btnComment" class="btn btn-light" value="0">留言</button>
	</div>
</div>
@*存放評論*@
<div id="divComment"></div>


@section Scripts{
	<script>
		function backToIndex() { window.location.href = "/TMovies/Index" }

		//送出評論及展示評論ajax函數
		function CommentDetail(FSerialNumber,  FMovieId, FComment, FDeleted) {
			$.ajax({
				method: "post",
				url: "/MovieDetail/MovieComment",
				data: { FSerialNumber,  FMovieId, FComment, FDeleted },
				success: function (data) {
					//alert(data)
					let context = JSON.parse(data);
					//alert(data)
					let UserId = context.UserId
					//alert(UserId)
					$("#divComment").html("")
					$.each(context.Vm, function (index, value) {
						if (value.FMemberPK == UserId &&!value.FDeleted){
						$("#divComment").append(`
							<div class=" divBorder">
								<div style="font-size:large; margin:10px 0 0 10px" id="F${value.FSerialNumber}">
									<div style="margin:5px" >
										${value.MemberName}	${value.FMemberPK} ${value.PostDate}
							<button type="button" class="btn btn-warning btnEditComment" value="${value.FSerialNumber}">編輯</button>
									<button type="button" id="btnDeleteComment" class="btn btn-danger" value="${value.FSerialNumber}">刪除</button>
									</div>
									<hr style="margin:0"/>
										<div id="Container${value.FSerialNumber}">
											<div class="divComment" id="divComment${value.FSerialNumber}">
											${value.FComment}
										</div>
									</div>
								</div>
							</div>`
						)}
						else{
						$("#divComment").append(`
							<div class=" divBorder">
								<div style="font-size:large; margin:10px 0 0 10px" >
									<div style="margin:5px">
										${value.MemberName}	${value.FMemberPK} ${value.PostDate}
									</div>
									<hr style="margin:0"/>
									<div style="margin:5px">${value.FComment}</div>
								</div>
							</div>`
						)}
						
					})
				},
				error: function (jqXHR, textStatus, errorThrown) {
				},
			})
		}
		//評分ajax
		function ScoreDetail( FMovieId, FScore) {
			$.ajax({
				method: "post",
				url: "/MovieDetail/MovieScore",
				data: { FMovieId, FScore },
				success: function (data) {
					let context = JSON.parse(data);
					$("#AverageScore").html(context);
				},
				error: function (jqXHR, textStatus, errorThrown) {
				},
			})
		}
		//刪除評論
		$(document).on('click', '#btnDeleteComment', function () {
			let serialNumber = $(this).attr("value")
			let movieId = @Model.FMovieId
			let comment = "留言已刪除"
			let deleted = true
			if (confirm('你確定要刪除嗎？')){
				CommentDetail(serialNumber,  movieId, comment, deleted)
			}
		})

		//開始編輯評論，生成編輯textarea
		$(document).on('click', '.btnEditComment', function () {
			$(this).addClass("btnCommentCancel")
			$(this).removeClass("btnEditComment")
			$(this).html(`取消`)

			let serialNumber = $(this).attr("value")
			let text = $.trim($(`#divComment${serialNumber}`).text())
			//alert(serialNumber+text)
			$(`#Container${serialNumber}`).html(`
				<div class="divContainer">
					<div class="input-group">
						<textarea class="form-control" id="FComment${serialNumber}" aria-label="With textarea">${text}</textarea>
					</div>
					<div>
						<button type="button" id="btnComment" class="btn btn-light" value="${serialNumber}">儲存</button>
					</div>
					<input type="hidden" id="hidden${serialNumber}" />
				</div>
			`)
			$(`#hidden${serialNumber}`).val(text)
		});
		//取消編輯
		$(document).on('click', '.btnCommentCancel', function () {
			$(this).removeClass("btnCommentCancel")
			$(this).addClass("btnEditComment")
			$(this).html(`編輯`)

			let serialNumber = $(this).attr("value")
			let comment = $(`#hidden${serialNumber}`).attr("value");
			//alert(comment)
			$(`#Container${serialNumber}`).html(`
				<div class="divComment"  id="divComment${serialNumber}">${comment}</div>
			`)
		})

		//送出評分
		$('.btnScore').click(function () {
			let score = $(this).attr("value");
			let movieId = @Model.FMovieId
			$(this).html(score);

			ScoreDetail( movieId, score)
		});

		//單選按鈕組，按下時改變顏色
		$(document).on('click', '.btnScore', function () {
			$('.btn-primary').addClass('btn-secondary');
			$('.btn-secondary').removeClass('btn-primary');

			$(this).removeClass('btn-secondary');
			$(this).addClass('btn-primary');
		});

		//送出評論
		$(document).on('click', '#btnComment', function () {
			let serialNumber = $(this).attr("value")
			let movieId = @Model.FMovieId
			let comment = $(`#FComment${serialNumber}`).val();
			//alert(serialNumber)
			$(`#FComment${serialNumber}`).val("");

			CommentDetail(serialNumber,  movieId, comment, false)
		})
		//展示評論
		CommentDetail(0, @Model.FMovieId, "",false)

		//顯示自己的評分
		function ShowOwnScore(movieId) {
			$.ajax({
				method: "post",
				url: "/MovieDetail/ShowOwnScore",
				data: { movieId },
				success: function (data) {
					let score = JSON.parse(data);
					//alert(score)
					$(`#${score}`).removeClass('btn-secondary');
					$(`#${score}`).addClass('btn-primary');
				},
				error: function (jqXHR, textStatus, errorThrown) {
				},
			})
		}
		ShowOwnScore(@Model.FMovieId)
	</script>

}
