@model IEnumerable<ISpan.InseparableCore.ViewModels.MovieVm>
@{
	var pagedList = (IPagedList)ViewBag.MovieModel;
}
@using X.PagedList.Mvc.Core;
@using X.PagedList;
@using X.PagedList.Mvc.Core.Fluent
@using X.PagedList.Web.Common

<style>
	.Delete{

	}
	PageContainer {
		margin: 0 auto;
	}

	.btnPage {
	}

	.center-container {
		text-align: center;
	}

		.center-container div {
			display: block;
			margin: 0 auto;
		}

	.divContainer {
		display: flex;
		flex-direction: row;
		padding: 5px;
	}

	.divBorder {
		border-color: white;
		border-width: 1px;
		border-style: solid;
		border-radius:9px;
	}

	.go-right {
		justify-content: flex-end
	}
	td {
		max-width: 100px;
		word-wrap: break-word;
	}

	.divBlock {
		margin: 20px
	}

	.inDivBottom {
		position: absolute;
		bottom: 0px;
		right: -100px;
	}

	.inDivPosition {
		position: relative;
		bottom: -20px;
		right: -500px;
	}
	.link-container {
	  text-align: center;
	  cursor: pointer;
	}
</style>
<h1 style="margin:20px;">電影管理</h1>

<div class="row divBlock">

	<form asp-action="Index" method="post" id="formSearch">

		<div asp-validation-summary="ModelOnly" class="text-danger"></div>
		<div class="divContainer ">
			<div class="form-group divBlock">
				<label name="Key" class="control-label">關鍵字</label>
				<input name="Key" id="Key" class="form-control" />
			</div>
			<div class="form-group divBlock">
				<label name="CategoryId" class="control-label">類別</label>
				<select name="CategoryId" id="CategoryId" class="form-control" asp-items="ViewBag.FMovieCategoryId"></select>
			</div>
			<div class="form-group divBlock">
				<label name="DateCategoryId" class="control-label">檔期</label>
				<select name="DateCategoryId" id="DateCategoryId" class="form-control" asp-items="ViewBag.DateCategoryId"></select>
			</div>
			<div class="form-group divBlock">
				<label name="LevelId" class="control-label">分級</label>
				<select name="LevelId" id="LevelId" class="form-control" asp-items="ViewBag.LevelId"></select>
			</div>
			@*<div class="form-group divBlock">
			<label name="Page" class="control-label">頁數</label>
			<select name="Page" id="Page" class="form-control" asp-items="ViewBag.Page"></select>
			</div>
			*@<div class="form-group divBlock" style="position:relative">
				<input type="submit" value="搜尋" class="btn btn-light inDivBottom" />
			</div>
			<div class="form-group divBlock inDivPosition" >
				<a href="/TMovies/Create" class="btn btn-info">新增</a>
			</div>
		</div>
	</form>

</div>

<div class="divBlock divBorder" id="divSearch">

	<table class="table" id="tableSearch">
		<thead>
			<tr>
				<th>
					<p>
						@Html.DisplayNameFor(model => model.FMovieName)
					</p>
				</th>
				<th>
					<p>
						@Html.DisplayNameFor(model => model.PartialIntro)
					</p>
				</th>
				<th>
					<p>
						@Html.DisplayNameFor(model => model.FMovieOnDate)
					</p>
				</th>
				<th>
					<p>
						@Html.DisplayNameFor(model => model.FMovieOffDate)
					</p>
				</th>
				<th>
					<p>
						@Html.DisplayNameFor(model => model.FMovieLength)
					</p>
				</th>
				<th>
					<p>
						@Html.DisplayNameFor(model => model.Level)
					</p>
				</th>
				<th>
					<p>
						@Html.DisplayNameFor(model => model.Categories)
					</p>
				</th>
				<th><p></p></th>
			</tr>
		</thead>
		<tbody id="bodySearch">
			@foreach (var item in Model)
			{
				<tr>
					<td>
						<a asp-action="Details" asp-route-id="@item.FMovieId">
							<p class="link-container">
								@Html.DisplayFor(modelItem => item.FMovieName)
							</p>
						</a>
					</td>
					<td>
						<p>
							@Html.DisplayFor(modelItem => item.PartialIntro)
						</p>
					</td>
					<td>
						<p>
							@Html.DisplayFor(modelItem => item.OnDate)
						</p>
					</td>
					<td>
						<p>
							@Html.DisplayFor(modelItem => item.OffDate)
						</p>
					</td>
					<td>
						<p>
							@Html.DisplayFor(modelItem => item.FMovieLength)
						</p>
					</td>
					<td>
						<p>
							@Html.DisplayFor(modelItem => item.Level)
						</p>
					</td>
					<td>
						<p>
							@Html.DisplayFor(modelItem => item.Categories)
						</p>
					</td>
					<td>
						<div class="divContainer">
							<div class="form-group">
								<a href="/TMovies/Edit/@item.FMovieId" class="btn btn-warning">編輯</a>
							</div>
							<div class="form-group">
								<button value="@item.FMovieId" class="btn btn-danger Delete" onclick="return confirm('你確定要刪除嗎？')">刪除</button>
							</div>
						</div>
					</td>
				</tr>
			}
		</tbody>
	</table>

	<div id="divDataCount">
		<p class="text-muted" colspan="5">
			每頁 @pagedList.PageSize 筆資料，共 @pagedList.PageCount 頁，全部共有 @pagedList.TotalItemCount 筆資料。
		</p>
	</div>
</div>
<div style=" font-size:larger" class="">
	<div class="btn-toolbar center-container" role="toolbar" aria-label="Toolbar with button groups">
		<div class="btn-group " role="group" aria-label="First group" id="divPageContainer" style="margin:10px auto;">
			<button type="button" class="btn btn-secondary" id="prePage"><</button>
			<button type="button" class="btn btn-primary btnPage" id="1" value="1">1</button>
			@for (int i = 2; i < pagedList.PageCount + 1; i++)
			{
				<button type="button" class="btn btn-secondary btnPage" id="@i" value="@i">@i</button>
			}
			<button type="button" class="btn btn-secondary" id="nextPage">></button>
		</div>
	</div>
</div>
@section Scripts {
	<script>
		var PageCountNumber = @pagedList.PageCount
		var pageNumber = 1

		function show(Key, CategoryId, DateCategoryId, LevelId, Page) {
			$.ajax({
				method: "post",
				url: "/TMovies/Index",
				data: { Key, CategoryId, DateCategoryId, LevelId, Page },
				beforeSend: function () {
				},
				success: function (data) {
					$("#divDataCount").html(``)
					$("#bodySearch").html(``)
					if (data == "noData") {
						alert("nodata")
						$("#divDataCount").html(`
							<div>
								<p class="text-muted" colspan="5">
									每頁 0 筆資料，共 0 頁，全部共有 0 筆資料。
								</p>
							</div>
						`)
						return;
					}

					let context = JSON.parse(data);
					$.each(context.Vm, function (index, value) {
						$("#bodySearch").append(`
							<tr>
								<td>
									<p>
										<a href="/TMovies/Details/${value.FMovieId}">
											${value.FMovieName}
										</a>
									</p>
								</td>
								<td>
									<p>
										${value.PartialIntro}
									</p>
								</td>
								<td>
									<p>
										${value.OnDate}
									</p>
								</td>
								<td>
									<p>
										${value.OffDate}
									</p>
								</td>
								<td>
									<p>
										${value.FMovieLength}
									</p>
								</td>
								<td>
									<p>
										${value.Level}
									</p>
								</td>
								<td>
									<p>
										${value.Categories}
									</p>
								</td>
								<td>
									<div class="divContainer">
										<div class="form-group">
											<a href="/TMovies/Edit/${value.FMovieId}" class="btn btn-warning">編輯</a>
										</div>
										<div class="form-group">
												<button value="${value.FMovieId}" class="btn btn-danger Delete" onclick="return confirm('你確定要刪除嗎？')" >刪除</button>
										</div>
									</div>
								</td>
							</tr>
						`)
					})
					$("#divDataCount").append(`
						<div>
							<p class="text-muted" colspan="5">
								每頁 ${context.PageSize} 筆資料，共 ${context.PageCount} 頁，全部共有 ${context.TotalItemCount} 筆資料。
							</p>
						</div>
					`)
					if (PageCountNumber != context.PageCount) {
						alert(PageCountNumber.toString() + context.PageCount)
						PageCountNumber = context.PageCount
						$("#divPageContainer").html(``)
						alert(PageCountNumber.toString() + context.PageCount)
						$("#divPageContainer").append(`
							<button type="button" class="btn btn-secondary" id="prePage"><</button>
						`)
						$("#divPageContainer").append(`
							<button type="button" class="btn btn-primary btnPage"  id="1" value="1">1</button>
						`)
						for (let i = 2; i <= context.PageCount; i++) {
							$("#divPageContainer").append(`
								<button type="button" class="btn btn-secondary btnPage"  id="${i}" value="${i}">${i}</button>
							`)
						}

						$("#divPageContainer").append(`
							<button type="button" class="btn btn-secondary" id="nextPage">></button>
						`)
					}
				},
				error: function (jqXHR, textStatus, errorThrown) {
				},
			})

		}
		//換頁function
		function pageChange(page) {
			pageNumber = page
			let key = $("#Key").val()
			let categoryId = $("#CategoryId").find(":selected").val()
			let levelId = $("#LevelId").find(":selected").val()
			let dateCategoryId = $("#DateCategoryId").find(":selected").val()
			show(key, categoryId, dateCategoryId, levelId, page)
			alert(page + "/" + key + "/" + categoryId + "/" + dateCategoryId + "/" + levelId)
		}

		//btnpage換顏色
		function pageSelected(event) {
			$('.btn-primary').addClass('btn-secondary');
			$('.btn-secondary').removeClass('btn-primary');

			$(event).removeClass('btn-secondary');
			$(event).addClass('btn-primary');

		}
		//點頁碼換頁
		$(document).on('click', '.btnPage', function () {
			let page = $(this).val()
			pageChange(page)

			pageSelected(this)
		});
		//上一頁
		$(document).on('click', '#prePage', function () {
			let page = parseInt(pageNumber) - 1

			if (page <= 0) {
				page += 1
			}
			$('.btn-primary').addClass('btn-secondary');
			$('.btn-secondary').removeClass('btn-primary');
			$(`#${page}`).removeClass('btn-secondary');
			$(`#${page}`).addClass('btn-primary');
			pageChange(page)
		});
		//下一頁
		$(document).on('click', '#nextPage', function () {
			let page = parseInt(pageNumber) + 1
			if (page > PageCountNumber) {
				page -= 1
			}
			$('.btn-primary').addClass('btn-secondary');
			$('.btn-secondary').removeClass('btn-primary');

			$(`#${page}`).removeClass('btn-secondary');
			$(`#${page}`).addClass('btn-primary');
			pageChange(page)
		});

		//刪除電影
		$(document).on('click', '.Delete', function () {
			var movieId = parseInt($(this).attr("value"))
			//confirm('你確定要刪除嗎？' + movieId)
			$.ajax({
				type: "POST",
				url: "/TMovies/DeleteAjax",
				data: { "movieId": parseInt($(this).attr("value")) },
				success: function (data) {
					alert("已刪除")
					let page = pageNumber
					let key = $("#Key").val()
					let categoryId = $("#CategoryId").find(":selected").val()
					let levelId = $("#LevelId").find(":selected").val()
					let dateCategoryId = $("#DateCategoryId").find(":selected").val()
					alert(page + "/" + key + "/" + categoryId + "/" + dateCategoryId + "/" + levelId)

					show(key, categoryId, dateCategoryId, levelId, page)
				},
				error: function(xhr, status, error) {					
					// 處理錯誤
					console.log("AJAX request error: " + status + " - " + error);
				}
			});
		})
		$("#formSearch").submit(function (event) {
			event.preventDefault();
			let page = 1
			let key = $("#Key").val()
			let categoryId = $("#CategoryId").find(":selected").val()
			let levelId = $("#LevelId").find(":selected").val()
			let dateCategoryId = $("#DateCategoryId").find(":selected").val()
			alert(page + "/" + key + "/" + categoryId + "/" + dateCategoryId + "/" + levelId)

			show(key, categoryId, dateCategoryId, levelId, page)
		})

	</script>

}
