@model IEnumerable<ISpan.InseparableCore.ViewModels.MovieVm>

@{
	ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
	<a asp-action="Create">Create New</a>
</p>


<table class="table" id="tableSearch">
	<thead>
		<tr>
			<th>
				<p>
					@Html.DisplayNameFor(model => model.FMovieName)
				</p>
			</th>
			<th>
				<p>
					@Html.DisplayNameFor(model => model.FMovieIntroduction)
				</p>
			</th>
			<th>
				<p>
					@Html.DisplayNameFor(model => model.FMovieOnDate)
				</p>
			</th>
			<th>
				<p>
					@Html.DisplayNameFor(model => model.FMovieOffDate)
				</p>
			</th>
			<th>
				<p>
					@Html.DisplayNameFor(model => model.FMovieLength)
				</p>
			</th>
			<th>
				<p>
					@Html.DisplayNameFor(model => model.FMovieScore)
				</p>
			</th>
			<th>
				<p>
					@Html.DisplayNameFor(model => model.Level)
				</p>
			</th>
			<th><p></p></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					<p>
						@Html.DisplayFor(modelItem => item.FMovieName)
					</p>
				</td>
				<td>
					<p>
						@Html.DisplayFor(modelItem => item.FMovieIntroduction)
					</p>
				</td>
				<td>
					<p>
						@item.OnDate
					</p>
				</td>
				<td>
					<p>
						@Html.DisplayFor(modelItem => item.OffDate)
					</p>
				</td>
				<td>
					<p>
						@Html.DisplayFor(modelItem => item.FMovieLength)
					</p>
				</td>
				<td>
					<p>
						@Html.DisplayFor(modelItem => item.FMovieScore)
					</p>
				</td>
				<td>
					<p>
						@Html.DisplayFor(modelItem => item.Level)
					</p>
				</td>
				<td>
					<p>
						<a asp-action="Edit" asp-route-id="@item.FMovieId">Edit</a> |
						<a asp-action="Details" asp-route-id="@item.FMovieId">Details</a> |
						<a asp-action="Delete" asp-route-id="@item.FMovieId">Delete</a>
					</p>
				</td>
			</tr>
		}
	</tbody>
</table>
<a asp-action="Index"> > </a>


