@model IEnumerable<ISpan.InseparableCore.ViewModels.MovieVm>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<style>
	.divContainer{
		display: flex;
		flex-direction: row;
		padding: 5px;
	}
	.divBorder{

		border-color: white;
		border-width: 3px;
		border-style: solid;
	}
	.divBlock{
		margin: 20px
	}
	.inDivBottom{
		position: absolute;
		bottom: 0px;
		right: -100px;
	}
</style>

<div class="row divBlock" >

	<form asp-action="Index" method="post" id="formSearch">
		<div asp-validation-summary="ModelOnly" class="text-danger"></div>
		<div class="divContainer " >
			<div class="form-group divBlock" >
				<label name="Key" class="control-label">關鍵字</label>
				<input name="Key" class="form-control" />
			</div>
			<div class="form-group divBlock" >
				<label name="Page" class="control-label">頁數</label>
				<input name="Page" class="form-control"/>
			</div>
			<div class="form-group divBlock" style="position:relative">
				<input type="submit" value="search" class="btn btn-primary inDivBottom" />
			</div>
		</div>
	</form>

</div>

<div class="divBlock" id="divSearch">

@foreach (var item in Model) {
		<div class="divContainer divBorder">
		<div style="margin:0 20px 0 0" >
            <p>
				<img src="~/images/@item.FMovieImagePath" width="250">
            </p>
		</div>

		<div >
            <p>
			<a asp-action="Details" asp-route-id="@item.FMovieId">
                @Html.DisplayFor(modelItem => item.FMovieName)
            </a> 
            </p>
            <p>
				@Html.DisplayNameFor(model => model.FMovieOnDate) :
				@item.FMovieOnDate.ToString("yyyy/MM/dd")
            </p>
            <p>
				@Html.DisplayNameFor(model => model.FMovieLength) :
                @Html.DisplayFor(modelItem => item.FMovieLength)
            </p>
            <p>
				@Html.DisplayNameFor(model => model.FMovieScore) :
                @Html.DisplayFor(modelItem => item.FMovieScore)
            </p>
@*            <p>
				@Html.DisplayNameFor(model => model.FMovieLevel) :
                @Html.DisplayFor(modelItem => item.FMovieLevel.FLevelName)
            </p>
*@		</div>
	</div>
}

</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

<script>
	$("#formSearch").submit(function (event) {
		event.preventDefault();
		$.ajax({
			method: "post",
			url: $(this).attr("action"),
			data: $("#formSearch").serialize(),
			beforeSend: function () {
			},
			success: function (data) {
				let context = JSON.parse(data);
				alert(context[0].FMovieName)
				$("#divSearch").html(``)
				$.each(context, function(index, value){
					$("#divSearch").append(`
	<div class="divContainer divBorder">
		<div style="margin:0 20px 0 0">
			<p>
				<img src="images/${value.FMovieImagePath}" width="250">
			</p>
		</div>

		<div>
			<p>
				<a asp-action="Details" asp-route-id="${value.FMovieId}">
					${value.FMovieName}
				</a>
			</p>
			<p>
				@Html.DisplayNameFor(model => model.FMovieOnDate) :	${value.FMovieOnDate}
			</p>
			<p>
				@Html.DisplayNameFor(model => model.FMovieLength) :	${value.FMovieLength}
			</p>
			<p>
				@Html.DisplayNameFor(model => model.FMovieScore) : ${value.FMovieScore}
			</p>
		</div>
	</div>`)
				})
			},
			error: function (jqXHR, textStatus, errorThrown) {
			},
		})
	})

</script>

<div id="divSearch"> > </div>

@section Scripts {

	}
