@model IEnumerable<ISpan.InseparableCore.ViewModels.MovieVm>
@{
	var pagedList = (IPagedList)ViewBag.MovieModel;
}
@using X.PagedList.Mvc.Core;
@using X.PagedList;
@using X.PagedList.Mvc.Core.Fluent
@using X.PagedList.Web.Common
@section Styles{
	<link href="~/css/loading.css" rel="stylesheet" />
	<link href="~/css/IndexGeneral.css" rel="stylesheet" />
}
<style>
		.inDivBottom {
			position: absolute;
			bottom: 0px;
			right: -100px;
		}

		.inDivPosition {
			position: relative;
			bottom: -20px;
			right: -500px;
		}

</style>
<h1 class="divBlock">電影搜尋</h1>
<div class="row divBlock">

	<form asp-action="Index" method="post" id="formSearch">

		<div asp-validation-summary="ModelOnly" class="text-danger"></div>
		<div class="divContainer ">
			<div class="form-group divBlock">
				<label name="Key" class="control-label">關鍵字</label>
				<input name="Key" id="Key" class="form-control" />
			</div>
			<div class="form-group divBlock">
				<label name="CategoryId" class="control-label">類別</label>
				<select name="CategoryId" id="CategoryId" class="form-control" asp-items="ViewBag.FMovieCategoryId"></select>
			</div>
			<div class="form-group divBlock">
				<label name="DateCategoryId" class="control-label">檔期</label>
				<select name="DateCategoryId" id="DateCategoryId" class="form-control" asp-items="ViewBag.DateCategoryId"></select>
			</div>
			<div class="form-group divBlock">
				<label name="LevelId" class="control-label">分級</label>
				<select name="LevelId" id="LevelId" class="form-control" asp-items="ViewBag.LevelId"></select>
			</div>
@*			<div class="form-group divBlock">
				<label name="Page" class="control-label">頁數</label>
				<select name="Page" id="Page" class="form-control" asp-items="ViewBag.Page"></select>
			</div>
*@			<div class="form-group divBlock" style="position:relative">
				<input type="submit" value="搜尋" class="btn btn-light inDivBottom" />
			</div>
		</div>
	</form>

</div>

<div class="divBlock" id="divSearch">

	@foreach (var item in Model)
	{
		<div class="divContainer divBorder">
			<div style="margin:0 20px 0 0">
				<p>
					<img src="~/images/@item.FMovieImagePath" width="250">
				</p>
			</div>

			<div>
				<p>
					<a asp-action="Details" asp-route-id="@item.FMovieId">
						<h3>
							@Html.DisplayFor(modelItem => item.FMovieName)
						</h3>
					</a>
				</p>
				<p>
					@Html.DisplayNameFor(model => model.OnDate) : @item.OnDate
				</p>
				<p>
					@Html.DisplayNameFor(model => model.FMovieLength) : @item.FMovieLength 分
				</p>
				<p>
					@Html.DisplayNameFor(model => model.FMovieScore) : @item.FMovieScore
				</p>
				<p>
					@Html.DisplayNameFor(model => model.Categories) : @item.Categories
				</p>
				<p>
					@Html.DisplayNameFor(model => model.Level) : @item.Level
				</p>
				<p>
					@Html.DisplayNameFor(model => model.FMovieActors) : @item.FMovieActors
				</p>
				<p>
					@Html.DisplayNameFor(model => model.FMovieDirectors) : @item.FMovieDirectors
				</p>
			</div>
		</div>
	}

	<div>
		<p class="text-muted" colspan="5">
			每頁 @pagedList.PageSize 筆資料，共 @pagedList.PageCount 頁，全部共有 @pagedList.TotalItemCount 筆資料。
		</p>
	</div>
</div>
<div style=" font-size:larger" class="">
	<div class="btn-toolbar center-container" role="toolbar" aria-label="Toolbar with button groups">
		<div class="btn-group " role="group" aria-label="First group" id="divPageContainer" style="margin:10px auto; ">
			<button type="button" class="btn btn-secondary" id="prePage"><</button>
			<button type="button" class="btn btn-primary btnPage" id="1" value="1">1</button>
			@for (int i = 2; i < pagedList.PageCount + 1; i++)
			{
				<button type="button" class="btn btn-secondary btnPage" id="@i" value="@i">@i</button>
			}
			<button type="button" class="btn btn-secondary" id="nextPage">></button>
		</div>
	</div>
</div>
@section Scripts {
	<script>
		var PageCountNumber = @pagedList.PageCount
		var pageNumber = 1

		function show(Key, CategoryId, DateCategoryId, LevelId, Page) {
			$.ajax({
				method: "post",
				url: $(this).attr("action"),
				data: { Key, CategoryId, DateCategoryId, LevelId, Page },
				beforeSend: function () {
				},
				success: function (data) {
					$("#divSearch").html(``)
					if (data == "noData") {
						alert("nodata")
						$("#divSearch").html(`

							<div>
								<p class="text-muted" colspan="5">
									每頁 0 筆資料，共 0 頁，全部共有 0 筆資料。
								</p>
							</div>
						`)
						return;
					}

					let context = JSON.parse(data);
					$("#divSearch").html(``)
					$.each(context.Vm, function (index, value) {
						$("#divSearch").append(`
							<div class="divContainer divBorder">
								<div style="margin:0 20px 0 0">
									<p>
										<img src="../images/${value.FMovieImagePath}" width="250">
									</p>
								</div>

								<div>
									<p>
										<a href="/TMovies/Details/${value.FMovieId}">
											<h3>
												${value.FMovieName}
											</h3>
										</a>
									</p>
									<p>
		@Html.DisplayNameFor(model => model.OnDate) :	${value.OnDate}
									</p>
									<p>
		@Html.DisplayNameFor(model => model.FMovieLength) :	${value.FMovieLength}分
									</p>
									<p>
		@Html.DisplayNameFor(model => model.FMovieScore) : ${value.FMovieScore}
									</p>
									<p>
		@Html.DisplayNameFor(model => model.Categories) : ${value.Categories}
									</p>
									<p>
		@Html.DisplayNameFor(model => model.Level) : ${value.Level}
									</p>
									<p>
		@Html.DisplayNameFor(model => model.FMovieActors) : ${value.FMovieActors}
									</p>
									<p>
		@Html.DisplayNameFor(model => model.FMovieDirectors) : ${value.FMovieDirectors}
									</p>

								</div>
							</div>`)
					})
					$("#divSearch").append(`
						<div>
							<p class="text-muted" colspan="5">
								每頁 ${context.PageSize} 筆資料，共 ${context.PageCount} 頁，全部共有 ${context.TotalItemCount} 筆資料。
							</p>
						</div>
					`)
					if (PageCountNumber != context.PageCount) {
						PageCountNumber = context.PageCount
						$("#divPageContainer").html(`
									`)
						$("#divPageContainer").append(`
							<button type="button" class="btn btn-secondary" id="prePage"><</button>
						`)
						$("#divPageContainer").append(`
										<button type="button" class="btn btn-primary btnPage"  id="1" value="1">1</button>
									`)
						for (let i = 2; i < context.PageCount + 1; i++) {
							$("#divPageContainer").append(`
							<button type="button" class="btn btn-secondary btnPage"  id="${i}" value="${i}">${i}</button>
						`)
						}

						$("#divPageContainer").append(`
							<button type="button" class="btn btn-secondary" id="nextPage">></button>
						`)
					}

				},
				error: function (jqXHR, textStatus, errorThrown) {
				},
			})

		}

		$("#formSearch").submit(function (event) {
			event.preventDefault();
			let page = 1
			let key = $("#Key").val()
			let categoryId = $("#CategoryId").find(":selected").val()
			let levelId = $("#LevelId").find(":selected").val()
			let dateCategoryId = $("#DateCategoryId").find(":selected").val()
			alert(page + "/" + key + "/" + categoryId + "/" + dateCategoryId + "/" + levelId)

			show(key, categoryId, dateCategoryId, levelId, page)
		})

	</script>
	<script type="text/javascript" src="~/js/MoviePage.js"></script>

}
