@model IEnumerable<ISpan.InseparableCore.ViewModels.CorderVM>

@{
    ViewData["Title"] = "Index";
    var _page = ViewBag.page;
}
@section Styles{
    <style>
        .search {
            display: flex;
        }

        .margin5 {
            margin: 5px;
        }

        #member, #cinema {
            color: aliceblue;
        }

        button {
            margin: 2px;
        }
    </style>
}

    <h1>訂單</h1>

    <div class="search">
        <span class="margin5">
            <label class="control-label">會員</label>
            <select id="member" class="form-control" asp-items="ViewBag.FMemberId">
                <option>請選擇</option>
            </select>
        </span>
        <span class="margin5">
            <label class="control-label">影城</label>
            <select id="cinema" class="form-control" asp-items="ViewBag.FCinemaId">
                <option>請選擇</option>
            </select>
        </span>
        <span>
            <br />
            <input type="button" value="搜尋" class="btn btn-info btn-rounded" style="margin-left:15px;" />
        </span>
    </div>
    <table class="table table-dark table-striped table-hover" style="color:#D4D6D6;">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FOrderDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FModifiedTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FMember)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FCinema)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FTotalMoney)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FCreditTradeNo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FStatus)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FOrderDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FModifiedTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FMember.FMemberId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FCinema.FCinemaName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FTotalMoney)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FCreditTradeNo)
                </td>
                <td>
                    @{
                        string result = string.Empty;
                        if (item.FStatus)
                        {
                            result = "正常";
                        }
                        else
                        {
                            result = "取消";
                        }
                    }
                    <label>@result</label>
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.FOrderId" class="btn btn-light">明細</a> |
                    <a asp-action="Delete" asp-route-id="@item.FOrderId" class="btn btn-danger">刪除</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div style="margin:15px; overflow:auto; display:flex;" id="pagebtn">
    <button type="button" class="btn btn-secondary" id="page" value="1"><<</button>
    <button type="button" class="btn btn-primary first" id="page" value="1">1</button>
    @for (int i = 2; i < _page.PageCount + 1; i++)
    {
        <button type="button" class="btn btn-secondary" id="page" value="@i">@i</button>
    }
    <button type="button" class="btn btn-secondary" id="page" value="@_page.PageCount">>></button>
</div>
@section Scripts{
    <script>
        var pagecount = @_page.PageCount;
        function search(member, cinema, pageIndex) {
            $.ajax({
                url: '/TOrders/Index',
                method: 'POST',
                data: {
                    member,
                    cinema,
                    pageIndex
                },
                success: function (data) {
                    var Model = JSON.parse(data);
                    var item = JSON.parse(Model.Items);
                    var session = item.$values;
                    $('tbody').html(``);
                    $.each(session, function (index, value) {
                        var transdate1 = new Date(value.FOrderDate)
                        var orderdate = (transdate1).toLocaleDateString('zh-TW', { year: 'numeric', month: '2-digit', day: '2-digit' });
                        var transdate2 = new Date(value.FModifiedTime)
                        var modifieddate = (transdate2).toLocaleDateString('zh-TW', { year: 'numeric', month: '2-digit', day: '2-digit' });
                        var result = "";
                        if (value.FStatus == true) {
                            result = "正常";
                        } else {
                            result = "取消";
                        }
                        $('tbody').append(`<tr>
                            <td>
                            ${orderdate}
                            </td>
                            <td>
                            ${modifieddate}
                            </td>
                            <td>
                            ${value.FMemberNo}
                            </td>
                            <td>
                            ${value.FCinemaName}
                            </td>
                             <td>
                            ${value.FTotalMoney}
                             </td>
                            <td>
                            ${value.FCreditTradeNo}
                            </td>
                             <td>
                             ${result}
                             </td>
                            <td>
                                <a href="Details/${value.FOrderId}" class="btn btn-light" >明細</a> |
                                <a href="Delete/${value.FOrderId}" class="btn btn-danger">刪除</a>
                            </td>
                        </tr>`)
                    });
                    if (Model.totalpage != pagecount) {
                        pagecount = Model.totalpage;
                        $('#pagebtn').html(`<button type="button" class="btn btn-secondary" id="page" value="1"><<</button>
                        <button type="button" class="btn btn-primary" id="page" value="1">1</button>`)
                        for (var i = 2; i < Model.totalpage + 1; i++) {
                            $('#pagebtn').append(`<button type="button" class="btn btn-secondary" id="page" value="${i}">${i}</button>`)
                        }
                        $('#pagebtn').append(` <button type="button" class="btn btn-secondary" id="page" value="${Model.totalpage}">>></button>`)
                    }
                },
                error: function (err) {
                    console.log(err);
                }
            });
        }
        $(document).on('click', '#page', function () {
            var member = $('#member').val();
            var cinema = $('#cinema').val();
            var pageIndex = $(this).val();
            search(member, cinema, pageIndex);

            $('.btn-primary').addClass('btn-secondary');
            $('.btn-primary').removeClass('btn-primary');

            $(this).addClass('btn-primary');
            $(this).removeClass('btn-secondary');
        });
        $('.btn-info').click(function () {
            var member = $('#member').val();
            var cinema = $('#cinema').val();
            var pageIndex = 1;
            search(member, cinema, pageIndex);
            $('.btn-primary').addClass('btn-secondary');
            $('.btn-primary').removeClass('btn-primary');
            $('.first').removeClass('btn-secondary');
            $('.first').addClass('btn-primary');
        });
    </script>
}