@model ISpan.InseparableCore.Models.DAL.TComments

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TComments</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FItemNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FItemNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FCommentPostingDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FCommentPostingDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FCommentLikes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FCommentLikes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FCommentContent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FCommentContent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FDeleted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FDeleted)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FArticle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FArticle.FArticleContent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FMember)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FMember.FEmail)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.FCommentId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
