@model IEnumerable<ISpan.InseparableCore.Models.DAL.TComments>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FItemNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FCommentPostingDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FCommentLikes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FMember)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FCommentContent)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FItemNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FCommentPostingDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FCommentLikes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FMember.FLastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FCommentContent)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.FCommentId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.FCommentId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.FCommentId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
