@model ISpan.InseparableCore.ViewModels.MovieSearchVm

<style>
	p{
		font-size:20px;

	}
	a{
		display: inline-block;
	}
	.btnCommentCancel{

	}
	.btnEditComment{

	}
	.chosen {
	}

	.divComment {
		margin: 5px;
		font-size: 20px;
	}
	.btnScore {
	}

	.divContainer {
		display: flex;
		flex-direction: row;
		padding: 5px;
	}

	.divBorder {
		border-color: white;
		border-width: 1px;
		border-style: solid;
		border-radius:9px;
	}

	.divBlock {
		margin: 20px
	}

	.inDivPosition {
		position: relative;
		bottom: 0px;
		right: -20px;
	}
</style>

<div style="margin-top:20px">
	<div class="divContainer">
		<h1 style="width:1200px;">
			@Html.DisplayFor(model => model.FMovieName)
		</h1>
		<a href="/AdminMovie/Edit/@Model.FMovieId" class="btn btn-warning" style="line-height:40px;display: inline-block;">編輯</a>
		<button value="@Model.FMovieId" class="btn btn-danger Delete">刪除</button>
		<button type="button" class="btn btn-info" onclick="backToIndex()">返回</button>
	</div>

	<div class="divContainer divBorder">
		<hr />
		<div class="divContainer ">
			<div style="margin:0 20px 0 0">
				<p>
					@{
						if (Model.FMovieImagePath == "no image")
						{
							<img src="~/images/no-image-icon.png" width="400">
						}
						else
						{
							<img src="~/images/@Model.FMovieImagePath" width="400">
						}
					}
				</p>
			</div>

			<div>
				<p>
					@Html.DisplayNameFor(model => model.OnDate) : @Model.OnDate
				</p>
				<p>
					@Html.DisplayNameFor(model => model.OffDate) : @Model.OffDate
				</p>
				<p>
					@Html.DisplayNameFor(model => model.FMovieLength) : @Model.FMovieLength 
				</p>
				<p>
					@Html.DisplayNameFor(model => model.FMovieScore) : @Model.FMovieScore
				</p>
				<p>
					@Html.DisplayNameFor(model => model.Categories) : @Model.Categories 
				</p>
				<p>
					@Html.DisplayNameFor(model => model.Level) : @Model.Level
				</p>
				<p>
					@Html.DisplayNameFor(model => model.FMovieActors) : @Model.FMovieActors
				</p>
				<p>
					@Html.DisplayNameFor(model => model.FMovieDirectors) : @Model.FMovieDirectors
				</p>
				<p>
					@Html.DisplayNameFor(model => model.FMovieIntroduction) : @Model.FMovieIntroduction
				</p>
			</div>
		</div>
	</div>
</div>
@*存放評論*@
<div id="divComment"></div>

@section Scripts{
		<script type="text/javascript" src="~/js/swalConfirm.js"></script>

	<script>
		function backToIndex() { window.location.href = "/AdminMovie/IndexMaintainer" }

		//送出評論及展示評論ajax函數
		function CommentDetail(FSerialNumber,  FMovieId, FComment, FDeleted) {
			$.ajax({
				method: "post",
				url: "/MovieDetail/MovieComment",
				data: { FSerialNumber,  FMovieId, FComment, FDeleted },
				success: function (data) {
					let context = JSON.parse(data);
					$("#divComment").html("")
					$.each(context.Vm, function (index, value) {
						$("#divComment").append(`
							<div class=" divBorder">
								<div style="font-size:large; margin:10px 0 0 10px" id="F${value.FSerialNumber}">
									<div style="margin:5px" id="Delete${value.FSerialNumber}">
										${value.MemberName}	${value.FMemberId} ${value.PostDate}
									</div>
									<hr style="margin:0"/>
										<div id="Container${value.FSerialNumber}">
											<div class="divComment" id="divComment${value.FSerialNumber}">
											${value.FComment}
										</div>
									</div>
								</div>
							</div>`
						)
						if (!value.FDeleted) {
							$(`#Delete${value.FSerialNumber}`).append(`
								<button type="button" id="btnDeleteComment" class="btn btn-danger" value="${value.FSerialNumber}">刪除</button>
							`)
						}						
					})
				},
				error: function (jqXHR, textStatus, errorThrown) {
				},
			})
		}
		//刪除評論
		$(document).on('click', '#btnDeleteComment', function (kevent) {
			event.preventDefault();
			let serialNumber = $(this).attr("value")
			let movieId = @Model.FMovieId
			let comment = "留言已刪除"
			let deleted = true
			deleteConfirmation(function (){
				CommentDetail(serialNumber,  movieId, comment, deleted)
				Swal.fire(
					'已刪除',
					'success'
				);

			})

		})

		//刪除電影
		$(document).on('click', '.Delete', function (event) {
			event.preventDefault();
			var movieId = parseInt($(this).attr("value"))
			deleteConfirmation(function () {

				$.ajax({
					type: "POST",
					url: "/AdminMovie/DeleteAjax",
					data: { movieId },
					success: function (data) {
						location.href = "/AdminMovie/IndexMaintainer"
						Swal.fire(
							'已刪除',
							'success'
						);
					},
					error: function (xhr, status, error) {
						// 處理錯誤
						console.log("AJAX request error: " + status + " - " + error);
					}
				});
			})
		})

		//展示評論
		CommentDetail(0, @Model.FMovieId, "",false)

	</script>

}
