@model ISpan.InseparableCore.ViewModels.MovieUpdateVm

@section Styles{
	<link href="~/css/loading.css" rel="stylesheet" />
	<link href="~/css/MovieEditAndCreate.css" rel="stylesheet" />
}

<style>

	.inDivPosition {
		position: relative;
		bottom: 0px;
		right: -200px;
	}
</style>

<h1 style="margin:20px">編輯電影</h1>

<div class="divBorder">
	<div class="">
		<form asp-action="Edit" enctype="multipart/form-data" id="Edit" class="divContainerRow">
			<div>
				<div asp-validation-summary="ModelOnly" class="text-danger"></div>
				<input type="hidden" asp-for="FMovieId" />
				<div class="form-group">
					<label asp-for="FMovieName" class="control-label"></label>
					<input asp-for="FMovieName" class="form-control" />
					<span asp-validation-for="FMovieName" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="FMovieLevelId" class="control-label"></label>
					<select asp-for="FMovieLevelId" class="form-control" asp-items="ViewBag.FMovieLevelId"></select>
					<span asp-validation-for="FMovieLevelId" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="FMovieOnDate" class="control-label"></label>
					<input type="date" asp-for="FMovieOnDate" class="form-control" />
					<span asp-validation-for="FMovieOnDate" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="FMovieOffDate" class="control-label"></label>
					<input type="date" asp-for="FMovieOffDate" class="form-control" />
					<span asp-validation-for="FMovieOffDate" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="FMovieLength" class="control-label"></label>
					<input asp-for="FMovieLength" class="form-control" />
					<span asp-validation-for="FMovieLength" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="FMovieActors" class="control-label"></label>
					<input asp-for="FMovieActors" class="form-control" />
					<span asp-validation-for="FMovieActors" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="FMovieDirectors" class="control-label"></label>
					<input asp-for="FMovieDirectors" class="form-control" />
					<span asp-validation-for="FMovieDirectors" class="text-danger"></span>
				</div>
				<div>
					<label asp-for="CategoryIds" class="control-label"></label>
				</div>
				<div class="form-group checkbox-container divBorder">
					@foreach (var item in ViewBag.FMovieCategoryId)
					{
						<div>
						@if (Model.CategoryIdsContained.Count > 0 && Model.CategoryIdsContained.Contains(int.Parse(item.Value)))
						{
							<input type="checkbox" name="CategoryCheck" value="@item.Value" id="@item.Value" checked/>
							<label for="@item.Value">@item.Text</label>
						}
						else
						{
							<input type="checkbox" name="CategoryCheck" value="@item.Value" id="@item.Value"/>
							<label for="@item.Value">@item.Text</label>
						}
						</div>
					}
					<input type="hidden" name="CategoryIds" id="CategoryIds" />
				</div>
			</div>
			<div>
				<div class="form-group">
					<label asp-for="FMovieIntroduction" class="control-label"></label>
					<textarea asp-for="FMovieIntroduction" class="form-control textarea" style=""></textarea>
					<span asp-validation-for="FMovieIntroduction" class="text-danger"></span>
				</div>
				<div class="form-group image-container">
					<label asp-for="Image" class="control-label"></label>
					<input asp-for="FMovieImagePath" class="form-control" type="hidden" />
					<input type="file" name="Image" class="form-control" id="fileInput" />
					<img src="~/images/@Model.FMovieImagePath"  id="preview">
				</div>
				<div class="form-group" style="text-align:right">
					<input type="submit" value="儲存" class="btn btn-primary" />
				</div>
			</div>
		</form>
		<div class="go-right divContainerRow">
			<div class="divBlock" style="width:100px">
				<form asp-action="Delete">
					<input type="hidden" name="movieId" value="@Model.FMovieId" />
					<input type="submit" value="刪除" class="btn btn-danger" onclick="return confirm('你確定要刪除嗎？')" />
				</form>
			</div>
			<div class="divBlock" style="width:100px">
				<a asp-action="Index" class="btn btn-light ">返回</a>
			</div>
		</div>
	</div>
</div>

@section Scripts {
	<script>
		var categoryIds = "";
		
		$("#Edit").submit(function () {
			var checkboxes = document.querySelectorAll("input[name='CategoryCheck']");
			$('input[name="CategoryCheck"]:checked').each(function () {
				categoryIds += $(this).val() + ',';
			});
			$("#CategoryIds").val(categoryIds);
			//alert($("#CategoryIds").val())
		})
		const fileInput = document.getElementById('fileInput');
		const preview = document.getElementById('preview');

		fileInput.addEventListener('change', function () {
			const file = this.files[0];
			const reader = new FileReader();

			reader.addEventListener('load', function () {
				preview.src = reader.result;
			});

			reader.readAsDataURL(file);
		});
	</script>

	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}
