@model IEnumerable<ISpan.InseparableCore.ViewModels.MovieSearchVm>
@{
	var pagedList = (IPagedList)ViewBag.MovieModel;
}
@using X.PagedList.Mvc.Core;
@using X.PagedList;
@using X.PagedList.Mvc.Core.Fluent
@using X.PagedList.Web.Common
@section Styles{
	<link href="~/css/loading.css" rel="stylesheet" />
	<link href="~/css/IndexGeneral.css" rel="stylesheet" />
	<link href="~/css/IndexMaintainer.css" rel="stylesheet" />
}

<style>
	.Delete{

	}

	.go-right {
		justify-content: flex-end
	}

	#Key, #CategoryId, #DateCategoryId, #LevelId {
		color:aliceblue;
		font-size:15px;
	}
	#Key:focus{
		color:aliceblue;
	}
	p, button{
		font-size:20px;
	}

	.inDivBottom {
		position: absolute;
		bottom: 0px;
		right: -100px;
	}

	.inDivPosition {
		position: relative;
		bottom: -35px;
		right: -600px;
	}
</style>
    <div class="loadingdiv" id="loading" style="display: none">
        <img src="~/images/Infinity-1s-200px.gif" />
    </div>
<h1 style="margin:20px;">電影管理</h1>

<div class="row divBlock">

	<form asp-action="Index" method="post" id="formSearch" >

		<div asp-validation-summary="ModelOnly" class="text-danger"></div>
		<div class="divContainer ">
			<div class="form-group divBlock">
				<label name="Key" class="control-label">關鍵字</label>
				<input name="Key" id="Key" class="form-control" />
			</div>
			<div class="form-group divBlock">
				<label name="CategoryId" class="control-label">類別</label>
				<select name="CategoryId" id="CategoryId" class="form-control" asp-items="ViewBag.FMovieCategoryId"></select>
			</div>
			<div class="form-group divBlock">
				<label name="DateCategoryId" class="control-label">檔期</label>
				<select name="DateCategoryId" id="DateCategoryId" class="form-control" asp-items="ViewBag.DateCategoryId"></select>
			</div>
			<div class="form-group divBlock">
				<label name="LevelId" class="control-label">分級</label>
				<select name="LevelId" id="LevelId" class="form-control" asp-items="ViewBag.LevelId"></select>
			</div>
			<div class="form-group divBlock" style="position:relative">
				<input type="submit" value="搜尋" class="btn btn-light inDivBottom" />
			</div>
			<div class="form-group divBlock inDivPosition" >
				<a href="/AdminMovie/Create" class="btn btn-info">新增</a>
			</div>
		</div>
	</form>

</div>

<div class="divBlock divBorder" id="divSearch">

	<table class="table" id="tableSearch">
		<thead>
			<tr>
				<th>
					<p>
						@Html.DisplayNameFor(model => model.FMovieId)
					</p>
				</th>
				<th>
					<p>
						@Html.DisplayNameFor(model => model.FMovieName)
					</p>
				</th>
				<th>
					<p>
						@Html.DisplayNameFor(model => model.PartialIntro)
					</p>
				</th>
				<th>
					<p>
						@Html.DisplayNameFor(model => model.OnDate)
					</p>
				</th>
				<th>
					<p>
						@Html.DisplayNameFor(model => model.OffDate)
					</p>
				</th>
				<th>
					<p>
						@Html.DisplayNameFor(model => model.FMovieLength)
					</p>
				</th>
				<th>
					<p>
						@Html.DisplayNameFor(model => model.Level)
					</p>
				</th>
				<th>
					<p>
						@Html.DisplayNameFor(model => model.Categories)
					</p>
				</th>
				<th><p></p></th>
			</tr>
		</thead>
		<tbody id="bodySearch">
			@foreach (var item in Model)
			{
				<tr>
					<td>
						<p>
							@Html.DisplayFor(modelItem => item.FMovieId)
						</p>
					</td>
					<td>
						<a asp-action="AdminDetails" asp-route-id="@item.FMovieId">
							<p class="link-container">
								@Html.DisplayFor(modelItem => item.FMovieName)
							</p>
						</a>
					</td>
					<td>
						<p class="link-container">
							@Html.DisplayFor(modelItem => item.PartialIntro)
						</p>
					</td>
					<td>
						<p>
							@Html.DisplayFor(modelItem => item.OnDate)
						</p>
					</td>
					<td>
						<p>
							@Html.DisplayFor(modelItem => item.OffDate)
						</p>
					</td>
					<td>
						<p>
							@Html.DisplayFor(modelItem => item.FMovieLength)
						</p>
					</td>
					<td>
						<p>
							@Html.DisplayFor(modelItem => item.Level)
						</p>
					</td>
					<td>
						<p>
							@Html.DisplayFor(modelItem => item.Categories)
						</p>
					</td>
					<td>
						<div class="divContainer">
							<div class="form-group">
								<a href="/AdminMovie/Edit/@item.FMovieId" class="btn btn-warning">編輯</a>
							</div>
							<div class="form-group">
								<button value="@item.FMovieId" class="btn btn-danger Delete" onclick="return confirm('你確定要刪除嗎？')">刪除</button>
							</div>
						</div>
					</td>
				</tr>
			}
		</tbody>
	</table>

	<div id="divDataCount">
		<p class="text-muted" colspan="5">
			每頁 @pagedList.PageSize 筆資料，共 @pagedList.PageCount 頁，全部共有 @pagedList.TotalItemCount 筆資料。
		</p>
	</div>
</div>
<div style=" font-size:larger" class="">
	<div class="btn-toolbar center-container" role="toolbar" aria-label="Toolbar with button groups">
		<div class="btn-group " role="group" aria-label="First group" id="divPageContainer" style="margin:10px auto;">
			<button type="button" class="btn btn-secondary" id="prePage"><</button>
			<button type="button" class="btn btn-primary btnPage" id="1" value="1">1</button>
			@for (int i = 2; i < pagedList.PageCount + 1; i++)
			{
				<button type="button" class="btn btn-secondary btnPage" id="@i" value="@i">@i</button>
			}
			<button type="button" class="btn btn-secondary" id="nextPage">></button>
		</div>
	</div>
</div>
@section Scripts {
	<script>
		var PageCountNumber = @pagedList.PageCount
		var pageNumber = 1

		function show(Key, CategoryId, DateCategoryId, LevelId, Page) {
			$.ajax({
				beforeSend: function () {
					$('#loading').css("display", "");
				},
				method: "post",
				url: "/AdminMovie/IndexMaintainer",
				data: { Key, CategoryId, DateCategoryId, LevelId, Page },
				beforeSend: function () {
				},
				success: function (data) {
					$("#divDataCount").html(``)
					$("#bodySearch").html(``)
					if (data == "noData") {
						$("#divDataCount").html(`
							<div>
								<p class="text-muted" colspan="5">
									每頁 0 筆資料，共 0 頁，全部共有 0 筆資料。
								</p>
							</div>
						`)
						return;
					}

					let context = JSON.parse(data);
					$.each(context.Vm, function (index, value) {
						$("#bodySearch").append(`
							<tr>
								<td>
									<p>
										${value.FMovieId}
									</p>
								</td>
								<td>
									<p>
										<a href="/AdminMovie/AdminDetails/${value.FMovieId}" class="link-container">
											${value.FMovieName}
										</a>
									</p>
								</td>
								<td>
									<p class="link-container">
										${value.PartialIntro}
									</p>
								</td>
								<td>
									<p>
										${value.OnDate}
									</p>
								</td>
								<td>
									<p>
										${value.OffDate}
									</p>
								</td>
								<td>
									<p>
										${value.FMovieLength}
									</p>
								</td>
								<td>
									<p>
										${value.Level}
									</p>
								</td>
								<td>
									<p>
										${value.Categories}
									</p>
								</td>
								<td>
									<div class="divContainer">
										<div class="form-group">
											<a href="/AdminMovie/Edit/${value.FMovieId}" class="btn btn-warning">編輯</a>
										</div>
										<div class="form-group">
												<button value="${value.FMovieId}" class="btn btn-danger Delete" onclick="return confirm('你確定要刪除嗎？')" >刪除</button>
										</div>
									</div>
								</td>
							</tr>
						`)
					})
					$("#divDataCount").append(`
						<div>
							<p class="text-muted" colspan="5">
								每頁 ${context.PageSize} 筆資料，共 ${context.PageCount} 頁，全部共有 ${context.TotalItemCount} 筆資料。
							</p>
						</div>
					`)
					if (PageCountNumber != context.PageCount) {
						PageCountNumber = context.PageCount
						$("#divPageContainer").html(``)
						$("#divPageContainer").append(`
							<button type="button" class="btn btn-secondary" id="prePage"><</button>
						`)
						$("#divPageContainer").append(`
							<button type="button" class="btn btn-primary btnPage"  id="1" value="1">1</button>
						`)
						for (let i = 2; i <= context.PageCount; i++) {
							$("#divPageContainer").append(`
								<button type="button" class="btn btn-secondary btnPage"  id="${i}" value="${i}">${i}</button>
							`)
						}

						$("#divPageContainer").append(`
							<button type="button" class="btn btn-secondary" id="nextPage">></button>
						`)
					}
				},
				error: function (jqXHR, textStatus, errorThrown) {
				},
				complete: function () {
                    setTimeout(function () { $('#loading').css("display", "none"); }, 2000);
                }
			})

		}
		//刪除電影
		$(document).on('click', '.Delete', function () {
			var movieId = parseInt($(this).attr("value"))
			//confirm('你確定要刪除嗎？' + movieId)
			$.ajax({
				type: "POST",
				url: "/AdminMovie/DeleteAjax",
				data: { "movieId": parseInt($(this).attr("value")) },
				success: function (data) {
					alert("已刪除")
					let page = pageNumber
					let key = $("#Key").val()
					let categoryId = $("#CategoryId").find(":selected").val()
					let levelId = $("#LevelId").find(":selected").val()
					let dateCategoryId = $("#DateCategoryId").find(":selected").val()

					show(key, categoryId, dateCategoryId, levelId, page)
				},
				error: function(xhr, status, error) {					
					// 處理錯誤
					console.log("AJAX request error: " + status + " - " + error);
				}
			});
		})
		$("#formSearch").submit(function (event) {
			event.preventDefault();
			let page = 1
			let key = $("#Key").val()
			let categoryId = $("#CategoryId").find(":selected").val()
			let levelId = $("#LevelId").find(":selected").val()
			let dateCategoryId = $("#DateCategoryId").find(":selected").val()

			show(key, categoryId, dateCategoryId, levelId, page)
		})

	</script>
		<script type="text/javascript" src="~/js/MoviePage.js"></script>
}
