@model Dictionary<string, string>
@{
    ViewData["Title"] = "Pay";
}

<link href="~/css/loading.css" rel="stylesheet" />
<div class="loadingdiv" id="loading" style="opacity: 1;">
    <img src="~/images/Infinity-1s-200px.gif" />
</div>
<form id="form" name="form" action="https://payment-stage.ecpay.com.tw/Cashier/AioCheckOut/V5" method="post" enctype="application/x-www-form-urlencoded">
    @foreach (var key in @Model.Keys.ToList())
    {
        @(key) <input type="text" name="@key" value="@Model[key]" />

        <br />
    }
</form>
<div id="order"></div>
<script>
    //var id = @ViewBag.order;
    window.onload = function () {
        document.getElementById("form").submit();
    }
    
    //window.addEventListener("popstate", e => {
    //    window.location.href = `../Shopping/CancelOrder?${id}`;
    //});
</script>