@model ISpan.InseparableCore.ViewModels.CticketVM

@{
    ViewData["Title"] = "Ticket";
}
@section Styles{
    <link href="~/css/loading.css" rel="stylesheet" />
    <link href="~/css/Ticket.css" rel="stylesheet" />
    <style>
        form{
            min-height:300px;
        }
    </style>
}
@using (Html.BeginForm(FormMethod.Get, new { autocomplete = "off" ,id="test"}))
{
    <div class="loadingdiv" id="loading">
        <img src="~/images/Infinity-1s-200px.gif" />
    </div>
    <h1>購票系統</h1>
    <div class="mydiv">
        <h5>
            <select name="cinemaId" id="cinema" onchange="this.form.submit()">
                <option value="0" >請選擇</option>
                @foreach (var item in Model.cinema)
                {
                    <option value="@item.FCinemaId">@item.FCinemaName</option>
                }
            </select>
        </h5>
    </div>
    <div class="mydiv border-bottom">
        <h5>
            @if (Model.movie != null)
            {
                <select name="movieId" id="movie" onchange="this.form.submit()">
                    <option value="0" >請選擇</option>
                    @foreach (var item in Model.movie)
                    {
                        <option value="@item.FMovieId">@item.FMovieName</option>
                    }
                </select>
            }
        </h5>
    </div>
    <div class="mydiv top">
        @if (Model.sessions != null)
        {
            foreach (var item in Model.sessions)
            {
                <h3>@item.Key.Year 年 @item.Key.Month 月 @item.Key.Day 日 @item.Key.DayOfWeek</h3>
                <ul>
                    @foreach (var session in item.Value)
                    {
                        <li class="btn-secondary list"><a href="#" cinema="@session.FCinemaId" session="@session.FSessionId">@session.FSessionTime.Hours : @session.FSessionTime.Minutes.ToString("D2")</a></li>
                    }
                </ul>

            }
        }
    </div>
}
<div id="form"></div>
@section Scripts{
    <script>
        $(function () {
            setTimeout(function () {
                $('#loading').css("display", "none");
            }, 500);
            $("#cinema").val(@Model.cinemaId);
            $("#movie").val(@Model.movieId);
        });
        $('li a').click(function () {
            var cinema = $(this).attr('cinema');
            var session = $(this).attr('session');
            var movie = $("#movie").val();
            $('#form').append(`<form action="/Shopping/Booking" method="post" id="ticketform">
                                    <input type="hidden" name="cinema" value="${cinema}" />
                                    <input type="hidden" name="session" value="${session}" />
                                    </form>`);

            $('#ticketform').submit();
        });

    </script>
}