@model ISpan.InseparableCore.ViewModels.CMemberProfileViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>會員中心</h1>

<p>
    <a asp-action="EditProfile" asp-route-id="@Model.Id" class="btn btn-warning">修改會員資料</a>
</p>

<h5 class="card-title">個人資料</h5>

<div class="row">
    <div class="col-lg-3 col-md-4 label "><label asp-for="MemberId" class="control-label"></label></div>
    <div class="col-lg-9 col-md-8"><span class="form-label">@Model.MemberId</span></div>
</div>
<div class="row">
    <div class="col-lg-3 col-md-4 label "><label asp-for="LastName" class="control-label"></label></div>
    <div class="col-lg-9 col-md-8"><span class="form-label">@Model.LastName</span></div>
</div>
<div class="row">
    <div class="col-lg-3 col-md-4 label "><label asp-for="FirstName" class="control-label"></label></div>
    <div class="col-lg-9 col-md-8"><span class="form-label">@Model.FirstName</span></div>
</div>
<div class="row">
    <div class="col-lg-3 col-md-4 label "><label asp-for="Gender" class="control-label"></label></div>
    <div class="col-lg-9 col-md-8"><span class="form-label">@Model.Gender</span></div>
</div>
<div class="row">
    <div class="col-lg-3 col-md-4 label "><label asp-for="Email" class="control-label"></label></div>
    <div class="col-lg-9 col-md-8"><span class="form-label">@Model.Email</span></div>
</div>
<div class="row">
    <div class="col-lg-3 col-md-4 label "><label asp-for="DateOfBirth" class="control-label"></label></div>
    <div class="col-lg-9 col-md-8"><span class="form-label">@Model.DateOfBirth</span></div>
</div>
<div class="row">
    <div class="col-lg-3 col-md-4 label "><label asp-for="Cellphone" class="control-label"></label></div>
    <div class="col-lg-9 col-md-8"><span class="form-label">@Model.Cellphone</span></div>
</div>
<div class="row">
    <div class="col-lg-3 col-md-4 label "><label asp-for="Address" class="control-label"></label></div>
    <div class="col-lg-9 col-md-8"><span class="form-label">@Model.Address</span></div>
</div>
<div class="row">
    <div class="col-lg-3 col-md-4 label "><label asp-for="AccountStatus" class="control-label"></label></div>
    <div class="col-lg-9 col-md-8"><span class="form-label">@Model.AccountStatus</span></div>
</div>
<div class="row">
    <div class="col-lg-3 col-md-4 label "><label asp-for="TotalMemberPoint" class="control-label"></label></div>
    <div class="col-lg-9 col-md-8"><span class="form-label">@Model.TotalMemberPoint</span></div>
</div>

