@model IEnumerable<ISpan.InseparableCore.ViewModels.CMemberOrderHistoryViewModel>

@{
    ViewData["Title"] = "OrderHistorys";
}

<h1>Order Historys</h1>

<div>
    <hr />
    <div class="row">
        <div class="card-body">
            <h4 class="card-title">訂單紀錄</h4>
            <div class="table-responsive">
                <table class="table text-light">
                    <thead>
                        <tr>
                            <th>@Html.DisplayNameFor(m => m.OrderId)</th>
                            <th>@Html.DisplayNameFor(m => m.OrderDate)</th>
                            <th>@Html.DisplayNameFor(m => m.TotalMoney)</th>
                            <th>@Html.DisplayNameFor(m => m.Status)</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.OrderId</td>
                                    <td>@item.OrderDate.ToString("yyyy/MM/dd HH:mm")</td>
                                    <td>@item.TotalMoney.ToString("F0")</td>
                                    <td><label class="badge">@item.Status</label></td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div>
    @*<a asp-action="Edit" asp-route-id="@Model?.OrderId">Edit</a>*@ |
    <a asp-action="Index">Back to List</a>
</div>
