@model ISpan.InseparableCore.Models.DAL.TMembers

@{
    ViewData["Title"] = "Profile";
}
<style>
    .card {
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #191c24;
        background-clip: border-box;
        border: 1px solid rgba(0, 0, 0, 0.125);
        border-radius: 0.25rem;
    }

    .card .card-body {
        padding: 1.75rem 1.5625rem;
    }

    .profile-card h2 {
        margin: 10px 0 0 0;
    }

</style>

<h1>會員檔案</h1>
<div class="card">
    <div class="card-body profile-card pt-4">
        <div class="row pb-4">
            <img src="../../images/memberProfilePhotos/@Model.FPhotoPath" class="col-sm-2" asp-append-version="true" alt="會員大頭貼">
            <div class="col-sm-10">
                <div class="d-flex justify-content-between align-items-center pb-2">
                    <h2>@Html.DisplayFor(model => model.FLastName)@Html.DisplayFor(model => model.FFirstName)</h2>
                    @if (ViewBag.isSameMember == false && ViewBag.isLogedIn == true)
                    {
                        <button class="btn @(ViewBag.FriendStatus == "is-friend" ? "btn-secondary" : "btn-primary")" id="btnAddFriend" data-friend-status="@ViewBag.FriendStatus" value="@Model.FId">@ViewBag.FriendBtnText</button>
                    }
                    
                </div>
                <div>
                    @Model.FIntroduction
                </div>
            </div>
        </div>
        <div class="row pt-4 border-top border-secondary">
            <div class="col-sm-3">
                <label>會員編號：@Model.FMemberId</label>
            </div>
            <div class="col-sm-3">
                <label>註冊時間：@Model.FSignUpTime.ToString("yyyy/MM/dd HH:mm")</label>
            </div>
        </div>
    </div>
</div>
<div>
    <hr />
    <dl class="row">
        @*// todo 放上文章列表 *@
        
        
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.4.js"></script>
    <script>
        $(document).ready(function () {
            $("#btnAddFriend").hover(
                function () {
                    var friendStatus = $("#btnAddFriend").data("friend-status");

                    if (friendStatus == "is-friend") {
                        $(this).text("解除好友");
                        $(this).addClass("btn-danger").removeClass("btn-secondary");
                    } else {
                        $(this).text("加入好友");
                    }
                },
                function () {
                    var friendStatus = $("#btnAddFriend").data("friend-status");

                    if (friendStatus == "is-friend") {
                        console.log("滑鼠離開，是朋友，之後顯示已是好友，變灰色");
                        $(this).text("已是好友");
                        $(this).addClass("btn-secondary").removeClass("btn-danger");
                    } else {
                        $(this).text("加入好友");
                    }
                }
            );

            $("#btnAddFriend").click(function () {
                const btn = $(this);
                let id =  btn.val();

                btn.prop("disabled", true); // 禁用按鈕

                // 取得好友的狀態
                const friendStatus = btn.data("friend-status");

                if (friendStatus == "not-friend") {
                    $.ajax({
                        type: "POST",
                        url: "/member/AddFriend", // 填寫後端API的URL
                        data: { friendId: id },
                        success: function (result) {
                            if (result.success) {

                                setTimeout( function(){
                                    btn.attr("data-friend-status", "is-friend");
                                    btn.addClass("btn-secondary").removeClass("btn-primary");
                                    btn.text("已是好友");
                                    btn.prop("disabled", false);
                                }, 1000);
                                
                                console.log("加好友成功 in all");
                            }
                            else {
                                console.log(result.message);
                            }
                        },
                        error: function (xhr, status, error) {
                            console.log("加好友的ajax失敗，請重試！");

                        }
                    });
                }
                else if (friendStatus == "is-friend") {
                    $.ajax({
                        type: "POST",
                        url: "/member/UnFriend",
                        data: { friendId: id },
                        success: function (result) {
                            if (result.success) {
                                btn.attr('data-friend-status', 'not-friend');

                                setTimeout(function () {
                                    btn.addClass("btn-primary").removeClass("btn-secondary").removeClass("btn-danger");
                                    btn.text("加入好友");
                                    btn.prop("disabled", false);
                                }, 1000);

                                console.log("解除好友成功 in all");
                            }
                            else {
                                console.log(result.message); // 失敗訊息
                            }
                        },
                        error: function (xhr, status, error) {
                            console.log("解除好友的ajax失敗，請重試！");

                        }
                    });
                }

                
            });
        });

    </script>

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

