@model ISpan.InseparableCore.Models.TArticles

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TArticles</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FArticleTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FArticleTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FArticlePostingDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FArticlePostingDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FArticleLikes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FArticleLikes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FArticleClicks)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FArticleClicks)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FArticleContent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FArticleContent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FArticleCategory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FArticleCategory.FMovieCategoryName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FMember)
        </dt>
        <dd class = "col-sm-10">
			@Html.DisplayFor(model => model.FMember.FFirstName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.FArticleId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
