@model IEnumerable<ISpan.InseparableCore.Models.DAL.TMembers>

@{
    ViewData["Title"] = "Index";
}

<h1>會員管理</h1>

<p>
    <a asp-action="Create" class="btn btn-rounded btn-success">新增會員</a>
</p>
<p>
    <form asp-action="" method="post">
        <label for="txtKeyword">關鍵字：</label>@Html.TextBox("txtKeyword") <input type="submit" class="btn btn-rounded btn-info" value="搜尋" />
    </form>
    
</p>
<table class="table text-light">
    <thead>
        <tr>
            <th>
                序號
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.FMemberId)*@
                會員ID
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.FLastName)*@
                姓氏
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.FFirstName)*@
                名字
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.FEmail)*@
                Email
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.FGender)*@
                性別
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.FDateOfBirth)*@
                生日
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.FCellphone)*@
                手機
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.FAccountStatusNavigation)*@
                會員狀態
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.FAreaZipCodeNavigation)*@
                區域
            </th>
        </tr>
    </thead>
    <tbody>
@{
    int count = 0;
    foreach (var item in Model) {
        count++;

        var dateOfBirth = "";
        if (item.FDateOfBirth.HasValue)
        {
            dateOfBirth = item.FDateOfBirth.Value.ToString("yyyy-MM-dd");
        }

        <tr>
            <td>
                @count
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FMemberId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FLastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FFirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FGender.FGenderType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => dateOfBirth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FCellphone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FAccountStatusNavigation.FStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FArea.FAreaName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.FId" class="btn btn-warning">編輯</a> |
                <a asp-action="Details" asp-route-id="@item.FId" class="btn btn-primary">詳細資料</a> |
                <a asp-action="Delete" asp-route-id="@item.FId" class="btn btn-danger" onclick="return confirm('確定要刪除嗎？')">刪除</a>
            </td>
        </tr>
}
}
    </tbody>
</table>
